<div class="span12" style="text-align:center; padding-bottom:30px">

  <h2> How It Works: </h2><br />
  <div style="font-size:18px; line-height:30px">
    <h1>Want more motivation in attaining your goals?</h1>
    <i class="icon-fire icon-large"></i>
    <h1>Give us your money.</h1>
    <i class=" icon-user icon-large"></i>
    <h1>Earn it back when you make progress.</h1>
    <i class=" icon-thumbs-up icon-large"></i>
  </div>

  <br />

  <div>
    <%= button_to "GET STARTED NOW!", new_user_registration_path, :method => "get", :class => "btn btn-large btn-primary"%>
  </div>
</div>




