<div class="hero-unit" style="text-align:center;">
    <h1>Achieve Your Goals</h1>
</div>


<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="assets/new_goal_page.png" /></div>
    <div class="item"><img src="assets/pledge_page.png" /></div>
    <div class="item"><img src="assets/goal_summary_page.png" /></div>
 <div class="item"><img src="assets/goal_index_page.png" /></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>