<h1>Pledge</h1>
<%= render 'form' %>

Based on your due date and frequency, we suggest the following pledge amounts:
<ul>
<% [1,5,10].each_with_index do |x, index| %>
  <li>For a $<%= x %> donation each time, pledge $<%= Pledge.suggested_amount(Goal.find(params[:goal_id]))[index]%></li>
<% end %>
</ul>