<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li><a href="<%=goals_path%>"><b>Motivator</b></a></li>
        <li><a href="#">&copy; GSD 2012</a></li>
    </ul>

    </div><!--/.container -->
  </div>
</div>