<div class="navbar navbar-bottom">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav pull-left">
        <li><a href="<%=goals_path%>"><b>Motivator</b></a></li>
        <li><a href="#">&copy; GSD 2012</a></li>
      </ul>

      <ul class="nav pull-right">
        <li><a href="http://devbootcamp.com">Brought to you by Dev Bootcamp Alumni:</a>
        <li><a href="http://lifmus.com">Andrew Lin</a></li>
        <li><a href="http://www.jessieayoung.com">Jessie Young</a></li>
        <li><a href="http://dladowitz.github.com">David Ladowitz</a></li>
        <li><a href="http://about.me/djreyes">Jeremy Reyes</a></li>
      </ul>

    </div><!--/.container -->
  </div>
</div>