

<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<form action="/creditcards" method="post" id="payment-form">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <div class="form-row">

    <label>Card Number</label>
    <input type="text" size="20" autocomplete="off" class="card-number" id="card-number" value="4242424242424242"/>
  </div>

  <div class="form-row">
    <label>CVC</label>
    <input type="text" size="4" autocomplete="off" class="card-cvc" id="card-cvc" value="123"/>
  </div>

  <div class="form-row">
    <label>Expiration (MM/YYYY)</label>
    <input type="text" size="2" class="card-expiry-month" id="card-expiry-month" value="11"/>
    <span> / </span>
    <input type="text" size="4" class="card-expiry-year" id="card-expiry-year" value="2016"/>
  </div>

  <%= hidden_field_tag :goal_id, params[:goal_id] %>

  <button type="submit" class="submit-button btn btn-success">Save Credit Card</button>

</form>



<!-- <a class="btn btn-success" data-toggle="modal" href="#creditCardModal" >Get free credit</a>
<div class="modal hide fade" id="creditCardModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div> -->
