<script type="text/javascript" src="https://js.stripe.com/v1/"></script>


<form action="/creditcards" method="post" id="payment-form">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class="form-row">



  <label>Card Number</label>
    <input type="text" size="20" autocomplete="off" class="card-number" id="card-number"/>
  </div>

  <div class="form-row">
    <label>CVC</label>
    <input type="text" size="4" autocomplete="off" class="card-cvc" id="card-cvc"/>
  </div>

  <div class="form-row">
    <label>Expiration (MM/YYYY)</label>
    <input type="text" size="2" class="card-expiry-month" id="card-expiry-month"/>
    <span> / </span>
    <input type="text" size="4" class="card-expiry-year" id="card-expiry-year"/>
  </div>

  <%= hidden_field_tag :goal_id, params[:goal_id] %>

  <button type="submit" class="submit-button">Save Credit Card</button>



</form>
