<h1>Charge Confirmation Page</h1>

<div> Your goal is <%= @goal.description %></div>
<div> Your pledge amount is $<%= @goal.pledge.amount %></div>
Confirm?
<%= button_to "YES", goal_charges_path(@goal) %>
<%= button_to "Change Pledge Amount", edit_pledge_path(@goal.pledge), :method => "get" %>