<h1>Here are your existing goals:</h1>

<br />
<% @goals.each do |goal| %>
<div class="well sidebar-nav span3">
  <%= link_to "#{goal.description} (#{goal.percentage_complete}% Complete)", goal %>
  <div class="progress progress-success progress-striped
       active">
    <div class="bar"
         data-percentage="<%= goal.percentage_complete %>"></div>
  </div>
</div>
<% end %>

<br />
<br />


