<h1><%= @goal.description %></h1>

Progress:
<div class="progress progress-success progress-striped
     active">
  <div class="bar"
       style="width: 40%;"></div>
</div>

Expected progress:
<div class="progress progress-info">
  <div class="bar"
       style="width: 60%;"></div>
</div>