<h1><%= @goal.description %></h1>

Progress:
<div class="progress progress-success progress-striped
     active">
  <div class="bar"
       style="width: <%= @goal.percentage_complete %>%;"></div>
</div>

Expected progress:
<div class="progress progress-info">
  <div class="bar"
       style="width: <%= @goal.expected_percentage_complete %>%;"></div>
</div>